<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h1>Our Services</h1>
    <p>Here are the services we offer.</p>
    <section>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
          laboriosam laudantium, debitis minima dolore, iure eveniet optio
          dolores quaerat voluptates perspiciatis, temporibus commodi
          accusantium atque non vero tempore dolorum excepturi!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          dicta quisquam autem corrupti ad cumque placeat sed. Ducimus, dolores.
          Consectetur ipsam expedita illo quidem corporis quibusdam itaque qui
          culpa id.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
          dignissimos. Saepe reiciendis atque hic ad esse corporis minus eveniet
          cumque ut ipsam dolor quisquam eum vero architecto id, maiores soluta?
        </li>
      </ul>
    </section>
  </body>
</html>
